{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/re_login.css' %}">
{% endblock %}
{% block content %}
<main >
    <div class="main">
        <div class="header">
            <h1 class="megami-logo header-item"><a href="/" class="logo">Megami</a></h1>
        </div>
        
        <div class="signin">
            <h1><img src="{% static 'IMG/signin_img/upper_body-1.png' %}" id="user_icon" alt="User" >アカウント登録</h1>
        </div>
        <div class="news-container">
            <h1>登録ありがとうございます。</h1>
        </div>
        <div class="sub-container">
            <p>登録されたNameとパスワードでログインしてください。</p>
        </div>
        
    </div>
</main>
<script type="text/javascript" src="{% static 'JS/login.js' %}"></script>


{% endblock %}

