


@media screen and (max-width:399px){

}

@media screen and (min-width:400px) and (max-width:479px){

}
  

@media screen and (min-width:480px) and (max-width:519px) { 

}

@media screen and (min-width:520px) and (max-width:599px) {

}

@media screen and (min-width:600px) and (max-width:669px) { 

}

@media screen and (min-width:670px) and (max-width:880px){
    body{
        margin: 0;
        padding: 0;
        max-width: 1080px;
        margin-left:auto;    /* 左側マージンを自動的に空ける */
        margin-right:auto;   /* 右側マージンを自動的に空ける */     /* 中身を左側表示に戻す */
    }
        
    .footer{
        height: 165px;
        background-color: #BEBEBE;
        }
    .footer-logo{
        font-size: 25px;
        padding-top: 15px;
        margin-left: 35px;
        font-family: 'Quattrocento', serif;
        }
    .footer-menu li{
        margin-left: 9%;
        margin-top: 5px;
        display: inline-block;
        font-size: 15px;
        }
    .footer-list{
        text-align: center;
        }
    .footer-list li{
        margin: 8px 8% 0 0;
        display: inline-block;
        }
    .icon-container img{
        width: 20px;
        margin-left: 16px;
        }
}

@media screen and (min-width:880px) and (max-width:959px) {
    body{
        margin: 0;
        padding: 0;
        max-width: 1080px;
        margin-left:auto;    /* 左側マージンを自動的に空ける */
        margin-right:auto;   /* 右側マージンを自動的に空ける */     /* 中身を左側表示に戻す */
    }
        
    .footer{
        height: 165px;
        background-color: #BEBEBE;
        }
    .footer-logo{
        font-size: 25px;
        padding-top: 15px;
        margin-left: 35px;
        font-family: 'Quattrocento', serif;
        }
    .footer-menu li{
        margin-left: 12%;
        margin-top: 5px;
        display: inline-block;
        font-size: 15px;
        }
    .footer-list{
        text-align: center;
        }
    .footer-list li{
        margin: 8px 8% 0 0;
        display: inline-block;
        }
    .icon-container img{
        width: 20px;
        margin-left: 16px;
        }
}

@media screen and ( min-width:960px  ) and (max-width:1079px) {
    
body{
    margin: 0;
    padding: 0;
    max-width: 1080px;
    margin-left:auto;    /* 左側マージンを自動的に空ける */
    margin-right:auto;   /* 右側マージンを自動的に空ける */     /* 中身を左側表示に戻す */
}
    
.footer{
    height: 165px;
    background-color: #BEBEBE;
    }
.footer-logo{
    font-size: 25px;
    padding-top: 15px;
    margin-left: 35px;
    font-family: 'Quattrocento', serif;
    }
.footer-menu li{
    margin-left: 12%;
    margin-top: 5px;
    display: inline-block;
    font-size: 15px;
    }
.footer-list{
    text-align: center;
    }
.footer-list li{
    margin: 8px 8% 0 0;
    display: inline-block;
    }
.icon-container img{
    width: 20px;
    margin-left: 16px;
    }
}