{% extends "base.html" %}
{% load static %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    {% endblock %}
    {% block content %}
    <header>
        <div class="header">
            <div class="header-menu">
                <h1 class="megami-logo header-item"><a href=" " class="logo">Megami</a></h1>
            </div>
            <div class="header-account_menu">
                <h2><i class="fas fa-user-circle"></i></h2>
            </div>
            <account class="account">
                <div class="profile-aria">
                    <div class="profile">
                        <h2>プロフィール</h2>
                        <i class="fas fa-times"></i>
                        <div style="border-bottom: solid 2px black; "></div>
                        <div class="icon_area">
                            {% if user.icon == null%}
                                <img src="/{{ user.icon }}"style="width:50px;height:50px;display:inline-block;border:2px solid black;border-radius:50%;text-align:center;padding:2px;">
                            {% else %}
                                <img src="{% static 'IMG/home_img/icons8-user-64.png' %}" style="width:50px;height:50px;display:inline-block;border:2px solid black;border-radius:50%;text-align:center;padding:2px;">
                            {% endif %}
                        </div>
                        <div class="username">
                            <h1>{{user.username}}</h1>
                        </div>

                        <div class="email">
                            <p>E-mail</p>
                            <h1>{{user.email}}</h1>
                        </div>
                        <div class="introduction">
                            <p>Comment</p>
                            <h1>{{user.introduction}}</h1>
                        </div>
                        <div class="change_account">
                            <a class="ui button" href="{% url 'change' %}">登録情報変更</a>
                        </div>
                        
                    </div>
                </div>
            </account>
        </div>

        
    </header>
    
    <main>
        <div class="main">

        </div>
    </main>



    Hello {{user}}
    
    <p><a href="{% url 'logout' %}">ログアウト</a></p>
    <p><a href="{% url 'password_change' %}">パスワードの変更</a></p>
    <p><a href="{% url 'password_reset' %}">パスワードを忘れた場合</a></p>
    {% endblock %}