{% extends "base.html" %}
{% load static %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    {% endblock %}
    {% block content %}
    <header>
        <div class="header">
            <div class="header-menu">
                <h1 class="megami-logo header-item"><a href=" " class="logo">Megami</a></h1>
            </div>
            <div class="header-account_menu">
                <a href="{% url 'Megami_app:post_new' %}"><p>
                <i class="fas fa-paper-plane" id="post_form" class="post_form"></i></p></a>
                <h2>
                    {% if user.image %}
                    <div class="icon_area_img" id="account_icon">
                        <img src="{{ user.image.url }}">
                    </div>
                    {% else %}
                        <i class="fas fa-user-circle" id="account_icon"></i>
                    {% endif %}
                </h2>
            </div>
            <account class="account show">
                <div class="profile-aria">
                    <div class="profile">
                        <h2>プロフィール</h2>
                        <i class="fas fa-times" id="x_icon"></i>
                        <div style="border-bottom: solid 2px black; "></div>
                        <div class="icon_area">
                            {% if user.image %}
                                <img src="{{ user.image.url }}">
                            {% else %}
                                <img src="{% static 'IMG/home_img/icons8-user-64.png' %}">
                            {% endif %}
                        </div>
                        <div class="fast-name">
                            <p>{{user.first_name}}</p>
                            <p>{{user.last_name}}</p>
                        </div>
                        <div class="username">
                            <p class="myuser">{{user.username}}</p>
                        </div>
                        <div class="email">
                            <h3>Email:</h3>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="introduction">
                            <h3>Comment</h3>
                            <div class="comment_container">
                                <p>{{user.description}}</p>
                            </div>
                        </div>
                        <div class="change_account">
                            <a class="ui button" href="{% url 'change_user' %}">変更</a>
                            <a href="{% url 'logout' %}">ログアウト</i></a>
                        </div>
                        
                    </div>
                </div>
            </account>
        </div>
    </header>
    
    <main class="main">
            <div class="user_stories">
                <h1>Schedule</h1>
                <div class="user_image_area user_follower">
                    <div class="following">
                        {% for user_follow in user_following %}
                        <div class="follow_data">
                            {% if user_follow.following.image %}
                                <img class="following_data" id={{user_follow.following.id}} src="{{ user_follow.following.image.url }}" alt=""/>
                            {% else %}
                                <img class="following_data" id={{user_follow.following.id}} src="{% static 'IMG/home_img/icons8-user-64.png' %}">
                            {% endif %}
                            <h3 class="following_data">
                                <a href="/{{user_follow.following.username}}/">
                                    {{user_follow.following.username}}
                                </a>
                            </h3>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
            </div>
            <div class="post_container">
                <div class="post_sort">
                    <form class="post_sort_form" method="GET" action="{% url 'home' %}">
                        {% csrf_token %}
                        <button type="submit" name="action" value="new">New</button>
                        <br>
                        <br>
                        <button type="submit" name="action" value="popularity">Pop</button>
                    </form>
                </div>
                <div class="post-area">
                    {% for post in post_data %}
                    <div class="post">
                        <center>
                            {% if post.image %}
                            <div class="post-image_area">
                                <img src="{{ post.image.url }}" alt="" />
                            </div>
                            {% else %}
                            <p>image none</p>
                            {% endif %}
                        </center>
                        <div class="post_title">
                            <h2>{{ post.title }}</h2>
                        </div>
                        <div class="post_content">
                            <p>{{ post.content|truncatechars:100 }}</p>
                        </div>
                        <div class="more_sea"><a href="{% url 'Megami_app:post_detail' post.id %}">もっと見る<i class="fas fa-angle-right"></i></a></div>
                        <div class="post_user">
                            <p class="post_data">
                                {% if user.icon == null%}
                                    <img  class="icon-img" src="/media/{{ post.user.image }}">
                                {% else %}
                                    <img src="{% static 'IMG/home_img/icons8-user-64.png' %}">
                                {% endif %}
                                {{ post.user }}</p>
                            <div class="LikesIcon add_good">
                                <i class="far fa-heart LikesIcon-fa-heart" id={{ post.id }}></i>
                            </div>
                            <p class="post_data date">{{ post.created_at|date }}</p>
                        </div>
                        <center>
                            <div class="user_line"></div>
                        </center>
                    </div>
                    {% endfor %}
                </div>

                <Schedule class="stories action" >
                    <i class="fas fa-times" id="x_icon1"></i>
                    <div class="stories_menu">
                        
                    </div>
                </Schedule>


                <chat class="chat">
                    <div id="div_container">
                        <h1>Chat</h1>
                        <div id="div_main">
                            <div id="div_join_screen">
                                <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                                ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
                                <form action="" onsubmit="onsubmitButton_JoinChat(); return false;" class="chat_join_form" >
                                    <div class="chat_user_name">
                                        <h3>User name</h3>
                                        <input type="text" id="input_username" placeholder="Enter User name" value="{{user.username}}" autofocus>
                                    </div>
                                    <div class="chat_room_name">
                                        <h3>Room name</h3>
                                        <input type="text" id="input_roomname" placeholder="Enter Room name">
                                    </div>
                                    <div class="help_message">
                                        Room name must be a string containing only ASCII alphanumerics, hyphens, or periods.
                                    </div>
                                    <input type="submit" value="Join Chat" class="join_submit"/>
                                </form>
                            </div>
                
                            <div id="div_chat_screen">
                                <button class="chat_button" onclick="onclickButton_LeaveChat()"><i class="fas fa-running"></i>Leave Chat</button>
                                <div class="chat_user_name">
                                    <h3>User</h3>
                                    <input type="text" id="text_username" readonly="readonly">
                                </div>
                                <div class="chat_room_name">
                                    <h3>Room</h3>
                                    <input type="text" id="text_roomname" readonly="readonly">
                                </div>
                                <!-- エンターキーによるボタン押下を行うために、<button>ではなく<form>と<input type="submit">を使用。
                                ボタン押下(=submit)時にページリロードが行われないように、onsubmitの設定の最後に"return false;"を追加。-->
                                <form action="" onsubmit="onsubmitButton_Send(); return false;">
                                    <div class="chat_message">
                                        <h3>Message</h3>
                                    </div>
                                    <div class="chat_send">
                                        <input type="text" id="input_message" maxlength="45" autocomplete="off" autofocus />
                                        <input type="submit" value="Send" class="message_send"/>
                                    </div>
                                    
                                </form>
                
                                <ul id="list_message">
                                    <div class="user_div">

                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </chat>


                <video_chats class="video_chats">
                    <div class="container">
                        <h1 class="heading">Meeting</h1>
                        <div class="room">
                            <div>
                                <div id="local-stream">
                                    <video id="js-local-stream" class="local-stream show"></video>
                                </div>
                                <button class="video_on" onclick="OnButtonClick();">Start</button>
                                <button class="video_off show" onclick="OffButtonClick();">Stop</button>
                                    
                                <div class="room_inout">
                                    <input type="text" placeholder="Room Name" id="js-room-id">
                                <button id="js-join-trigger">Join</button>
                                <button id="js-leave-trigger">Leave</button>
                                </div>
                            </div>
                            <div class="remote-streams" id="js-remote-streams"></div>
                            <div class="remote_message">
                                <pre class="messages" id="js-messages"></pre>
                                <input type="text" id="js-local-text">
                                <button id="js-send-trigger">Send</button>
                            </div>
                        </div>
                    </div>
                </video_chats>

            </div>
    </main>



    <!-- テスト -->

    <div class="test">

    </div>

    
    <!-- テスト -->
    

    <script src="https://cdn.webrtc.ecl.ntt.com/skyway-4.4.3.js"></script>
    <script type="text/javascript" src="{% static 'JS/home.js' %}"></script>
    {% endblock %}