{% extends "base.html" %}
{% load static %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'CSS/home.css' %}">
    {% endblock %}
    {% block content %}
    <header>
        <div class="header">
            <div class="header-menu">
                <h1 class="megami-logo header-item"><a href=" " class="logo">Megami</a></h1>
            </div>
            <div class="header-account_menu">
                <a href="{% url 'Megami_app:post_new' %}"><p>
                <i class="fas fa-paper-plane" id="post_form" class="post_form"></i></p></a>
                <h2>
                    {% if user.image %}
                    <div class="icon_area_img" id="account_icon">
                        <img src="{{ user.image.url }}">
                    </div>
                    {% else %}
                        <i class="fas fa-user-circle" id="account_icon"></i>
                    {% endif %}
                </h2>
            </div>
            <account class="account show">
                <div class="profile-aria">
                    <div class="profile">
                        <h2>プロフィール</h2>
                        <i class="fas fa-times" id="x_icon"></i>
                        <div style="border-bottom: solid 2px black; "></div>
                        <div class="icon_area">
                            {% if user.image %}
                                <img src="{{ user.image.url }}">
                            {% else %}
                                <img src="{% static 'IMG/home_img/icons8-user-64.png' %}">
                            {% endif %}
                        </div>
                        <div class="fast-name">
                            <p>{{user.first_name}}</p>
                            <p>{{user.last_name}}</p>
                        </div>
                        <div class="username">
                            <p>{{user.username}}</p>
                        </div>
                        <div class="email">
                            <h3>Email:</h3>
                            <p>{{user.email}}</p>
                        </div>
                        <div class="introduction">
                            <h3>Comment</h3>
                            <div class="comment_container">
                                <p>{{user.description}}</p>
                            </div>
                        </div>
                        <div class="change_account">
                            <a class="ui button" href="{% url 'change_user' %}">変更</a>
                            <a href="{% url 'logout' %}">ログアウト</i></a>
                        </div>
                        
                    </div>
                </div>
            </account>
        </div>
    </header>
    
    <main class="main">
            <div class="user_stories">
                <h1>Schedule</h1>
                <div class="user_image_area user_follower">
                    <div class="following">
                        {% for user_follow in user_following %}
                        <div class="follow_data">
                            <img class="following_data" src="{{ user_follow.following.image.url }}" alt=""/>
                            <h3 class="following_data">
                                <a href="/{{user_follow.following.username}}/">
                                    {{user_follow.following.username}}
                                </a>
                            </h3>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
            </div>
            <div class="post_container">
                <div class="post-area">
                    {% for post in post_data %}
                    <div class="post">
                        <center>
                            {% if post.image %}
                            <div class="post-image_area">
                                <img src="{{ post.image.url }}" alt="" />
                            </div>
                            {% else %}
                            <p>image none</p>
                            {% endif %}
                        </center>
                        <div class="post_title">
                            <h2>{{ post.title }}</h2>
                        </div>
                        <div class="post_content">
                            <p>{{ post.content|truncatechars:100 }}</p>
                        </div>
                        <div class="more_sea"><a href="{% url 'Megami_app:post_detail' post.id %}">もっと見る<i class="fas fa-angle-right"></i></a></div>
                        <div class="post_user ">
                            <div class="LikesIcon">
                                <p class="post_data add_good">
                                    {% if user.icon == null%}
                                        <img  class="icon-img" src="/media/{{ post.user.image }}">
                                    {% else %}
                                        <img src="{% static 'IMG/home_img/icons8-user-64.png' %}">
                                    {% endif %}{{ post.user }}</p>
                                <i class="far fa-heart LikesIcon-fa-heart add_good"  id={{ post.id }}></i>
                                <p class="post_data date">{{ post.created_at|date }}</p>
                            </div>
                        </div>
                        <center>
                            <div class="user_line"></div>
                        </center>
                    </div>
                    {% endfor %}
                </div>

                <stories class="stories">
                    <div class="stories_menu">
                        
                    </div>
                </stories>



            </div>
    </main>
    
    
    <script type="text/javascript" src="{% static 'JS/home.js' %}"></script>
    {% endblock %}