{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/signin.css' %}">
{% endblock %}
{% block content %}
<main >
    <div class="main">
        <div class="header">
            <h1 class="megami-logo header-item"><a href="/" class="logo">Megami</a></h1>
            
        </div>
        
        <div class="signin">
            <h1><img src="{% static 'IMG/signin_img/upper_body-1.png' %}" id="user_icon" alt="User" >アカウント登録</h1>
            <center>
                <div class="signin_container">
                        <p class="sign" align="center">Sign in</p>
                        <form class="form1">
                          <p>Name<input class="un" type="text" align="center" placeholder="Username"></p>
                          <p>Mail Adress<input class="Mail_Adress" type="text" align="center" placeholder="Mail Adress"></p>
                          <p>Call Number<input class="Call_Number" type="text" align="center" placeholder="Call Number"></p>
                          <p>Password<input class="Password" type="password" align="center" placeholder="Password" name="password" id="password" required></p>
                          <label>Conf Password</label><input class="Confirm_Password" type="password" align="center" placeholder="Confirm Password" name="confirm" oninput="CheckPassword(this)" required></p>
                          <!-- <a class="submit" align="center">Login</a> -->
                          <button class="login-btn login"> <span>Sign in</span> </button>
                        </form>
                </div>
            </center>
        </div>
    </div>
</main>
{% endblock %}