{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/index.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="header">
            <div class="header-menu">
                <h1 class="megami-logo header-item"><a href=" " class="logo">Megami</a></h1>
                <div class="signin-button header-item">
                    <button class="login-btn" onclick="location.href='/signup/'" > <span>Signin</span> </button>
                </div>
            </div>
            <div class="audience-area">
                <div class="signin-message">
                    <h2 id="connect-message" class="connect-message">Let's connect ! !</h2>
                    <h2 id="using-message" class="using-message">using Megami</h2>
                </div>
                <div class="btn">
                    <button class="login-btn" onclick="location.href='/signup/'"> <span>Get started</span> </button>
                </div>
            </div>
                <div class="back_img-area audience-area">
                    <img src="{% static 'IMG/index_img/1544004869.png' %}" id="Megami_img" alt="Megami" >
                    <img src="{% static 'IMG/index_img/1544163788-1.png' %}" id="JK_img" alt="JK" >
                </div>

            <div class="login-area">
                <div class="main">
                    {{user}}
                    <p class="sign" align="center">Login</p>
                    <center>
                    <form class="form1" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                      <!-- <a class="submit" align="center">Login</a> -->
                      <button class="login-btn login"> <span>Login</span> </button>
                      <p class="forgot" align="center"><a href="{% url 'password_reset'%}">Forgot Password?</p></a>   
                    </form> 
                    </center>      
                </div>
            </div>
        </div>
    </header>
    <concept>
        <div class="concept">
            <h1 class="concept-message"> Concept </h1>
            <div class="concept-img">
                <img src="{% static 'IMG/index_img/1535965055.png' %}" class="conect-img" alt="conect" >
            </div>
            <div class="concept-container">
                <p class="salon-con">美容師とユーザーをつなげる</p>
                <p class="user-con">サロンとユーザーをつなげる</p>
                <p class="stylist-con">サロンと美容師をつなげる</p>
            </div>
        </div>
    </concept>
    <center>
    <Ability>
        <div class="Ability">
            <h1 class="Ability-message">Ability</h1>
            <div class="Ability-img">
                <img src="{% static 'IMG/index_img/1517047896-1.png' %}"class="Ability-img1" id="Ability-img1" alt="conect" >
                <img src="{% static 'IMG/index_img/1544163784.png' %}" class="Ability-img2" id="Ability-img2" alt="conect" >
            </div>
            <div class="Ability-container">
                <p class="stylist-user">お気に入りの美容室・美容師を探せる</p>
                <p class="salon-user">ビジネス・リクルートに利用できる</p>
                <p class="stylist-salon">容姿の変化や日常を投稿し共有できる</p>
            </div>
        </div>
    </Ability>
    </center>
    <script type="text/javascript" src="{% static 'JS/index.js' %}"></script>
{% endblock %}

