

{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/password_reset_confirm.css' %}">
{% endblock %}
{% block content %}
<main >
    <div class="main">
        <div class="header">
            <h1 class="megami-logo header-item"><a href="/" class="logo">Megami</a></h1>
            
        </div>
        
        <div class="signin">
            <h1><img src="{% static 'IMG/signin_img/keyicon.png' %}" id="user_icon" alt="User" >再設定</h1>
            <center>
              <div class="signin_container">
                <p class="sign" align="center">Password Reset</p>
                {% if validlink %}
                <form class="form1" method="POST">
                    {% csrf_token %}
                    {{form.as_p}}
                  <!-- <a class="submit" align="center">Login</a> -->
                  <button class="login-btn login"> <span>変更</span> </button>
                </form>
                  {% else %}
                  <p>無効なリンクです</p>
                  {% endif%}
              </div>
            </center>
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static 'JS/password_reset_confirm.js' %}"></script>
{% endblock %}
