

{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/re_login.css' %}">
{% endblock %}
{% block content %}
<main >
    <div class="main">
        <div class="header">
            <h1 class="megami-logo header-item"><a href="/" class="logo">Megami</a></h1>
        </div>
        
        <div class="signin">
            <h1><img src="{% static 'IMG/signin_img/upper_body-1.png' %}" id="user_icon" alt="User" >パスワード変更完了</h1>
        </div>
        <div class="news-container">
            <h1>パスワードの変更が完了しました。</h1>
        </div>
        <div class="sub-container">
            <p>パスワードの変更が確認されました。</p>
            <p > <a href="{% url 'home' %} ">戻る</a></p>
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static 'JS/login.js' %}"></script>


{% endblock %}