{% extends "base.html" %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'CSS/password_reset_form.css' %}">
{% endblock %}
{% block content %}
<main >
    <div class="main">
        <div class="header">
            <h1 class="megami-logo header-item"><a href="/" class="logo">Megami</a></h1>
            
        </div>
        
        <div class="signin">
            <h1><img src="{% static 'IMG/signin_img/keyicon.png' %}" id="user_icon" alt="User" >パスワードを忘れた</h1>
            <center>
                <div class="signin_container">
                        <p class="sign" align="center">Password Change</p>
                        <form class="form1" method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                          <button class="login-btn login" type="submit"> <span>Change</span> </button>
                        </form>
                </div>
            </center>
        </div>
    </div>
</main>
<script type="text/javascript" src="{% static 'JS/password_reset_form.js' %}"></script>
{% endblock %}

